## Import Data

In [1]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sb
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("MotorcycleData.xlsx")
df.head()

,Unnamed: 0,Condition,Condition_Desc,Price,Location,Model_Year,Mileage,Exterior_Color,Make,Warranty,...,Vehicle_Title,OBO,Feedback_Perc,Watch_Count,N_Reviews,Seller_Status,Vehicle_Tile,Auction,Buy_Now,Bid_Count
0,0,Used,mint!!! very low miles,11412,"McHenry, Illinois, United States",2013.0,16000,Black,Harley-Davidson,Unspecified,...,NaN,False,8.1,NaN,2427,Private Seller,Clear,True,False,28.0
1,1,Used,Perfect condition,17200,"Fort Recovery, Ohio, United States",2016.0,60,Black,Harley-Davidson,Vehicle has an existing warranty,...,NaN,False,100,17,657,Private Seller,Clear,True,True,0.0
2,2,Used,NaN,3872,"Chicago, Illinois, United States",1970.0,25763,Silver/Blue,BMW,Vehicle does NOT have an existing warranty,...,NaN,False,100,NaN,136,NaN,Clear,True,False,26.0
3,3,Used,CLEAN TITLE READY TO RIDE HOME,6575,"Green Bay, Wisconsin, United States",2009.0,33142,Red,Harley-Davidson,NaN,...,NaN,False,100,NaN,2920,Dealer,Clear,True,False,11.0
4,4,Used,NaN,10000,"West Bend, Wisconsin, United States",2012.0,17800,Blue,Harley-Davidson,NO WARRANTY,...,NaN,False,100,13,271,OWNER,Clear,True,True,0.0

In [24]:
df.corr()['Price']

Price         1.000000
Model_Year    0.252915
OBO           0.161868
Name: Price, dtype: float64

In [4]:
df.describe()

,Unnamed: 0,Price,Model_Year,Vehicle_Title,N_Reviews,Bid_Count
count,7493.000000,7493.000000,7489.000000,0.0,7493.000000,2221.000000
mean,3746.000000,9968.811557,2006.445987,NaN,4627.154544,5.340387
std,2163.187116,8497.326850,12.839484,NaN,32381.791793,10.781129
min,0.000000,0.000000,1910.000000,NaN,0.000000,0.000000
25%,1873.000000,4158.000000,2004.000000,NaN,57.000000,0.000000
50%,3746.000000,7995.000000,2010.000000,NaN,257.000000,0.000000
75%,5619.000000,13000.000000,2015.000000,NaN,726.000000,6.000000
max,7492.000000,100000.000000,2018.000000,NaN,297821.000000,134.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7493 entries, 0 to 7492
Data columns (total 23 columns):
Unnamed: 0        7493 non-null int64
Condition         7493 non-null object
Condition_Desc    1655 non-null object
Price             7493 non-null int64
Location          7491 non-null object
Model_Year        7489 non-null float64
Mileage           7468 non-null object
Exterior_Color    6778 non-null object
Make              7489 non-null object
Warranty          5107 non-null object
Model             7434 non-null object
Sub_Model         2179 non-null object
Type              6257 non-null object
Vehicle_Title     0 non-null float64
OBO               7493 non-null bool
Feedback_Perc     6785 non-null object
Watch_Count       3278 non-null object
N_Reviews         7493 non-null int64
Seller_Status     6861 non-null object
Vehicle_Tile      7439 non-null object
Auction           7493 non-null bool
Buy_Now           7493 non-null bool
Bid_Count         2221 non-null float64
dtypes: bool(3), float64(3), int64(3), object(14)
memory usage: 1.2+ MB

In [6]:
df = df[["Condition", "Price", "Mileage", "Model_Year", "Make", "Model", "Type", "OBO", "Seller_Status", "Vehicle_Tile"]]
df

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,Private Seller,Clear
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,Private Seller,Clear
2,Used,3872,25763,1970.0,BMW,R-Series,Standard,False,NaN,Clear
3,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,Dealer,Clear
4,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,OWNER,Clear
...,...,...,...,...,...,...,...,...,...,...
7488,Used,3900,23681,2004.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7489,Used,8900,5821,2013.0,Suzuki,GSX1300RA,Standard,True,Dealer,Salvage
7490,Used,7800,48616,2011.0,BMW,R1200GS,Standard,True,Dealer,Salvage
7491,Used,7900,6185,2014.0,Yamaha,YZF-R1,Standard,True,Dealer,Salvage
7492,Used,12970,448,2016.0,Harley-Davidson,Dyna Street Bob,Gasoline,False,Dealer,Clear

In [7]:
df = df[df["Make"] == "Harley-Davidson"]
df

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,Private Seller,Clear
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,Private Seller,Clear
3,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,Dealer,Clear
4,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,OWNER,Clear
5,Used,1500,0,1972.0,Harley-Davidson,Sportster,NaN,False,Private Seller,Clear
...,...,...,...,...,...,...,...,...,...,...
7484,Used,5000,12583,2004.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7485,Used,5000,19931,2006.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7486,Used,8900,9305,2012.0,Harley-Davidson,FXDWG,Standard,True,Dealer,Salvage
7488,Used,3900,23681,2004.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7492,Used,12970,448,2016.0,Harley-Davidson,Dyna Street Bob,Gasoline,False,Dealer,Clear

## Checking Missing Values

In [8]:
df.isna().sum()

Condition          0
Price              0
Mileage            4
Model_Year         0
Make               0
Model              0
Type             477
OBO                0
Seller_Status    261
Vehicle_Tile      12
dtype: int64

In [9]:
df1 = df.dropna()
df1

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,Private Seller,Clear
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,Private Seller,Clear
3,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,Dealer,Clear
4,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,OWNER,Clear
6,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,Dealer,Clear
...,...,...,...,...,...,...,...,...,...,...
7484,Used,5000,12583,2004.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7485,Used,5000,19931,2006.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7486,Used,8900,9305,2012.0,Harley-Davidson,FXDWG,Standard,True,Dealer,Salvage
7488,Used,3900,23681,2004.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7492,Used,12970,448,2016.0,Harley-Davidson,Dyna Street Bob,Gasoline,False,Dealer,Clear

In [10]:
len(df1.Model)

2405

In [11]:
df1.isna().sum()

Condition        0
Price            0
Mileage          0
Model_Year       0
Make             0
Model            0
Type             0
OBO              0
Seller_Status    0
Vehicle_Tile     0
dtype: int64

In [12]:
df2 = df1.copy()
df2

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,Private Seller,Clear
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,Private Seller,Clear
3,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,Dealer,Clear
4,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,OWNER,Clear
6,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,Dealer,Clear
...,...,...,...,...,...,...,...,...,...,...
7484,Used,5000,12583,2004.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7485,Used,5000,19931,2006.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7486,Used,8900,9305,2012.0,Harley-Davidson,FXDWG,Standard,True,Dealer,Salvage
7488,Used,3900,23681,2004.0,Harley-Davidson,FXDI,Standard,True,Dealer,Salvage
7492,Used,12970,448,2016.0,Harley-Davidson,Dyna Street Bob,Gasoline,False,Dealer,Clear

In [13]:
df2.Seller_Status = df2.Seller_Status.apply(lambda x: str(x).lower())
df2

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,private seller,Clear
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,private seller,Clear
3,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,dealer,Clear
4,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,owner,Clear
6,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,dealer,Clear
...,...,...,...,...,...,...,...,...,...,...
7484,Used,5000,12583,2004.0,Harley-Davidson,FXDI,Standard,True,dealer,Salvage
7485,Used,5000,19931,2006.0,Harley-Davidson,FXDI,Standard,True,dealer,Salvage
7486,Used,8900,9305,2012.0,Harley-Davidson,FXDWG,Standard,True,dealer,Salvage
7488,Used,3900,23681,2004.0,Harley-Davidson,FXDI,Standard,True,dealer,Salvage
7492,Used,12970,448,2016.0,Harley-Davidson,Dyna Street Bob,Gasoline,False,dealer,Clear

### Feature Engineering

In [14]:
type_stats = df2.groupby('Type')['Type'].agg('count').sort_values(ascending=False)
type_stats.head(10)

Type
Gasoline         792
Touring          605
Cruiser          500
Standard         260
Sport Touring     56
Sport Bike        28
Dual-Purpose      11
Custom            11
Trike              9
TRIKE              7
Name: Type, dtype: int64

In [15]:
model_stats = df2.groupby('Model')['Model'].agg('count').sort_values(ascending=False)
model_stats.head(10)

Model
Touring                     700
Softail                     326
Dyna                        154
Sportster                   137
V-ROD                        34
Other                        33
Street Glide                 28
Heritage Softail Classic     19
Street Glide Special         17
FXR                          15
Name: Model, dtype: int64

In [16]:
seller_stats = df2.groupby('Seller_Status')['Seller_Status'].agg('count').sort_values(ascending=False)
seller_stats.head()

Seller_Status
dealer                          1492
private seller                   852
owner                             54
carrigan motor group               3
shoreline harley -  davidson       1
Name: Seller_Status, dtype: int64

In [17]:
TSLT_25 = type_stats[type_stats<=25] # Type Stats Less Than 25
TSLT_25

Type
Dual-Purpose      11
Custom            11
Trike              9
TRIKE              7
Chopper            6
                  ..
Lehman Trike       1
Iron Head          1
Heritage           1
Harley Davison     1
--                 1
Name: Type, Length: 85, dtype: int64

In [18]:
MSLT_30 = model_stats[model_stats<=30] # Model Stats Less Than 25
MSLT_30

Model
Street Glide                                       28
Heritage Softail Classic                           19
Street Glide Special                               17
FXR                                                15
Electra Glide Ultra Classic                        14
                                                   ..
FXDSE2 - DynaÂ® Screamin&#039; Eagle Anniversary     1
FXDSE - Screamin Eagle Dyna CVO                     1
FXDLS - Low RiderÂ® S                                1
FXDLI - Dyna Glide Low Rider                        1
FXDF - Dyna Fat Bob Trike                           1
Name: Model, Length: 401, dtype: int64

In [19]:
SSLT_50 = seller_stats[seller_stats<=50] # Model Stats Less Than 25
SSLT_50

Seller_Status
carrigan motor group            3
shoreline harley -  davidson    1
ricky                           1
onwer                           1
by owner                        1
Name: Seller_Status, dtype: int64

In [20]:
df2.Type = df2.Type.apply(lambda x: 'Other' if x in TSLT_25 else x)
df2.Model = df2.Model.apply(lambda x: 'Other' if x in MSLT_30 else x)
df2.Seller_Status = df2.Seller_Status.apply(lambda x: 'Other' if x in SSLT_50 else x)
df2

,Condition,Price,Mileage,Model_Year,Make,Model,Type,OBO,Seller_Status,Vehicle_Tile
0,Used,11412,16000,2013.0,Harley-Davidson,Touring,Cruiser,False,private seller,Clear
1,Used,17200,60,2016.0,Harley-Davidson,Touring,Sport Touring,False,private seller,Clear
3,Used,6575,33142,2009.0,Harley-Davidson,Touring,Touring,False,dealer,Clear
4,Used,10000,17800,2012.0,Harley-Davidson,Touring,Touring,False,owner,Clear
6,Used,24900,5548,2010.0,Harley-Davidson,Touring,Touring,False,dealer,Clear
...,...,...,...,...,...,...,...,...,...,...
7484,Used,5000,12583,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage
7485,Used,5000,19931,2006.0,Harley-Davidson,Other,Standard,True,dealer,Salvage
7486,Used,8900,9305,2012.0,Harley-Davidson,Other,Standard,True,dealer,Salvage
7488,Used,3900,23681,2004.0,Harley-Davidson,Other,Standard,True,dealer,Salvage
7492,Used,12970,448,2016.0,Harley-Davidson,Other,Gasoline,False,dealer,Clear